@import '~antd/dist/antd.less';

#root {
  width: 100%;
  height: 100vh;
  background-color: #282c34;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #282c34;

  &-content {
    padding: 16px 24px;
  }

  &-home {
    margin: 50px 100px;
    box-shadow: 0 0 25px 0 #000;

    .ant-menu {
      position: relative;
      width: 300px;
      height: 100%;

      &-item {
        position: relative;

        .delete-btn {
          display: none;
          position: absolute;
          top: calc(50% - 12px);
          right: 5px;
        }

        &:hover {
          .delete-btn { display: block; } 
        }
      }

      .home-title {
        .ant-page-header-heading-left {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          .ant-page-header-back {
            position: absolute;
            top: calc(50% - 8px);
            left: 10px;
          }
        }
      }

      .create-folder-btn {
        margin-top: 20px;
        color: #c4c4c4;

        &:hover {
          color: #1890ff;          
        }
        &:hover, &:focus {
          background: none;
        }
      }
    }
  }
}