.tasks_list {
    background-color: #fff;
    padding: 0 20px;
    margin-bottom: 24px;

    .task {
        .ant-btn:focus {
            background-color: none;
        }

        .delete-btn {
            display: none;
        }
    
        &:hover {
            .delete-btn {
                display: block;
            }
        }
    }
}