.page-register {
    align-items: center;
    justify-content: center;

    .register-form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 25px 0 #000;
    
        &-title {
            margin: 0 auto;
            margin-bottom: 20px;

            .ant-page-header-heading-left {
                display: flex;
                flex-direction: column;
            }
        }

        &-inputs {
            margin-bottom: 30px;
        }

        &-btn { 
            width: 100%;      
        }

        .link-to {
            position: absolute;
            top: -25px;
            right: 0;
        }
    }
}